@media screen and (min-width: 1400px) {
  .container {
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .main {
    margin-top: 35px;
    min-height: calc(100vh - 60px);
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 800px) and (max-width: 1399px) {
  .container {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .main {
    margin-top: 35px;
    min-height: calc(100vh - 60px);
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 799px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .main {
    margin-top: 35px;
    min-height: calc(100vh - 60px);
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.textarea {
  resize: none;
}

.navbar {
  background-color: royalblue;
  height: 60px;
  display: block;
}

.imgbanner {
  padding-top: 5px !important;
}

.loginlink {
  position: absolute;
  right: 30px;
  top: 20px;
  color: white;
}

.endline {
  height: 50px;
  width: 100%;
}
